@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #0046ad; 
    margin-top: 50px;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#chart {
    width: 100%;
    max-width: 800px;
}



