{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<h1>Hola, {{ app.user.nombre }} ¿Qué quieres hacer?</h1>

<!-- Botones de acción -->
  <div class="action-buttons">
    <a href="{{ path('app_cita_new') }}" class="btn btn-primary btn-lg">Consulta Médica</a>
    <a href="{{ path('app_cita_index') }}" class="btn btn-primary btn-lg">Gestión de Citas</a>
  </div>

  
</div>


{% endblock %}
