.calendar-container {
    text-align: center;
    margin-top: 60px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    color: #0046ad;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: left;
    font-size: 25px;
}
