@import "~bootstrap/dist/css/bootstrap.min.css";

.container-reset {
    padding-top: 100px; 
    max-width: 400px; 
    margin: 0 auto; 
    text-align: center; 
}

.container-reset h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container-reset p {
    margin-bottom: 20px;
}

.alert {
    margin-top: 20px; 
}

.form-control {
    margin-bottom: 15px; 
}

.btn {
    width: 100%; 
    background-color: #0046ad;
    border-color: #0046ad;
    color: white;
}

.btn:hover {
    background-color: #003b8e;
    border-color: #003b8e;
}